 ## list 
 - list is collection of different data type elements
 - list is mutable
 - list is index based and slicleable
 - list is denotes with `[]`
 - list constains duplicalte values

In [1]:
l = [1,2,3, 'a','b',5.5, 6,1,2,3]

In [2]:
#Mutable 
l[0]

1

In [4]:
l[0] = 100
print(l)

[100, 2, 3, 'a', 'b', 5.5, 6, 1, 2, 3]

In [5]:
s = 'abcd'
s[0] = 'z'
print(s)

TypeError: 'str' object does not support item assignment

In [8]:
# index based and sliceable
l = [1,2,3, 'a','b',5.5, 6,1,2,3]
print(l[0])
print(l[-1])
print(l[5])
print(l[-3])

1
3
5.5
1

In [11]:
l = [1,2,3, 'a','b',5.5, 6,1,2,3]
print(l[2:4])
print(l[2:])
print(l[:-4])

[3, 'a']
[3, 'a', 'b', 5.5, 6, 1, 2, 3]
[1, 2, 3, 'a', 'b', 5.5]

In [12]:
# create empty list 
lst = []
lst1 = list()
print(type(lst), type(lst1))

<class 'list'> <class 'list'>

In [14]:
lst = [0]
len(lst)

1

In [ ]:
# read list of element from user

In [15]:
input().split()

 1 2 3 4

['1', '2', '3', '4']

In [16]:
map(int, input().split())

 1 2 3 4

In [18]:
lst = list(map(int, input().split()))
print(lst)

 1 2 3 4

[1, 2, 3, 4]

In [20]:
lst = list(map(int, input().split()))
print(lst)

 1 2 a b

ValueError: invalid literal for int() with base 10: 'a'

In [19]:
lst = list(map(float, input().split()))
print(lst)

 1 2 3 4

[1.0, 2.0, 3.0, 4.0]

In [21]:
lst = list(map(str, input().split()))
print(lst)

 1 2 3

['1', '2', '3']

In [22]:
lst = list(map(str, input().split()))
print(lst)

 1 2 a b

['1', '2', 'a', 'b']

In [24]:
# list concatination using '+'
l1 = [1,2,3]
l2 = [4,5]
print(l1+l2)

[1, 2, 3, 4, 5]

In [25]:
# list repetation using '*'
l1 = [1,2,3]
print(l1 * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## List Methods

- append(value) - it add the single value at end of list
- extend(iterable) - it add the iterable values at end of list
- insert(position, value) - add the value at specified position and followed values are right shifted
- index(vlaue) - returns the first position of value, otherwise `ValueError`
- remove(value) - it removes the value at first occurance position
- pop() - returns and removes the pop value as per specified position, otherwise pops the last value
- clear() - removes the all elements from list
- del - removes the list
- count(value) - returns the total occurance of a value in the list
- len(list_name) - total elements in the list or length of list
- min(list_name) - returns the min value from the list
- max(list_name) - returns the max value from the list
- sum(list_name) - sums the all elements in the list

-

In [26]:
l = [1,2,3, '3a','b',5.5, 6,1,2,3]
# append(), extend(), insert()
print("original list:",l)
l.append(100)
print("After Append operation:",l)
l.extend([200,300])
print("After Extend Operation:",l)
l.insert(4, 'Codegnan')
print("After insert Operation:", l)

original list: [1, 2, 3, '3a', 'b', 5.5, 6, 1, 2, 3]
After Append operation: [1, 2, 3, '3a', 'b', 5.5, 6, 1, 2, 3, 100]
After Extend Operation: [1, 2, 3, '3a', 'b', 5.5, 6, 1, 2, 3, 100, 200, 300]
After insert Operation: [1, 2, 3, '3a', 'Codegnan', 'b', 5.5, 6, 1, 2, 3, 100, 200, 300]

In [28]:
# remove(), pop(), clear(), del()
l = [1,2,3, '3a','b',5.5, 6,1,2,3]
print("Original List:",l)
l.remove(2)
print("After remove operation:",l)
l.pop()
print("After pop operation:", l)
l.pop(3)
print("After pop the 3rd position:",l)
del l[0]
print("After del of 0th position ele:", l)
del l[2:4]
print("After del using slicing:", l)
l.clear()
print("After clear operation:",l)

Original List: [1, 2, 3, '3a', 'b', 5.5, 6, 1, 2, 3]
After remove operation: [1, 3, '3a', 'b', 5.5, 6, 1, 2, 3]
After pop operation: [1, 3, '3a', 'b', 5.5, 6, 1, 2]
After pop the 3rd position: [1, 3, '3a', 5.5, 6, 1, 2]
After del of 0th position ele: [3, '3a', 5.5, 6, 1, 2]
After del using slicing: [3, '3a', 1, 2]
After clear operation: []

In [29]:
## min(), max(), len(), count(), sum(), sort(), reverse()
l = [1,2,5,10,11,34,2,3,4]
min_val = min(l)
max_val = max(l)
count_2 = l.count(2)
sum_list = sum(l)
print(min_val)
print(max_val)
print(count_2)
print(sum_list)

1
34
2
72

In [30]:
# sort()
l = [1,2,5,10,11,34,2,3,4]
l.sort()
print(l)

[1, 2, 2, 3, 4, 5, 10, 11, 34]

In [31]:
# sort()
l = [1,2,5,10,11,34,2,3,4]
l.sort(reverse = True)
print(l)

[34, 11, 10, 5, 4, 3, 2, 2, 1]

In [33]:
# revesre()
l = [1,2,5,10,11,34,2,3,4]
l.reverse()
print(l)

[4, 3, 2, 34, 11, 10, 5, 2, 1]

In [1]:
# Nested list
l = [1,2,3, [4,5,6],[7,[8,9],10]]

In [7]:
l[4][2]

10