## Sets
- Set is unordered Collection of diffetent data type elements
- It define with `{}`
- Set is Mutable
- Set not allows the duplicate values
- Set is Hetrogeneuous data type
- Set hashable data type

In [8]:
s = {1,2, 'a', 'Codegnan','z'}
print(s)

{1, 2, 'a', 'z', 'Codegnan'}

In [7]:
# empty set
s1 = {}
s2 = set()
print(type(s1), type(s2))

<class 'dict'> <class 'set'>

## Set Methods

- add(ele) - Addss element to set
- update(iterable) - Update the current set with new iterable elements
- remove(ele) - removes the ele from set, otherwise `KeyError`
- discard(ele) - removes ele from set, otherwise does nothing
- pop() - Removes the random ele from set
- clear() - removes all elements from set

In [2]:

s = {1,2,3,4}
print("Original set:",s)
s.add(100)
print("After add Operation:",s)
s.update([10,20])
print("After Update operation:", s)
s.remove(2)
print("After Remove 2 ele:",s)
s.discard(100)
print("After discard 100 ele:",s)
val = s.pop()
print("After pop operation:", val, s)
s.clear()
print("After clear operation:",s)

Original set: {1, 2, 3, 4}
After add Operation: {1, 2, 3, 100, 4}
After Update operation: {1, 2, 3, 100, 4, 10, 20}
After Remove 2 ele: {1, 3, 100, 4, 10, 20}
After discard 100 ele: {1, 3, 4, 10, 20}
After pop operation: 1 {3, 4, 10, 20}
After clear operation: set()

In [3]:

s = {1,2,3,4,100}
print("Original set:",s)
s.add(100)
print(s)

Original set: {1, 2, 3, 100, 4}
{1, 2, 3, 100, 4}

In [6]:

s = {1,2,3,4,100}
print("Original set:",s)
s.remove(10)
print(s)

Original set: {1, 2, 3, 100, 4}

KeyError: 10

In [8]:

s = {1,2,3,4,100}
print("Original set:",s)
s.discard(10)
print(s)

Original set: {1, 2, 3, 100, 4}
{1, 2, 3, 100, 4}

In [7]:

s = set()
print("Original set:",s)
s.pop(10)
print(s)

Original set: set()

TypeError: set.pop() takes no arguments (1 given)

In [16]:
# union(), instersection, difference(), symmetric_difference()
s1 = {1,2,3,4}
s2 = {3,4,5,6}
union = s1.union(s2)
intersection = s1.intersection(s2)
difference = s1.difference(s2)
symmetric_difference = s1.symmetric_difference(s2)
print(union, intersection, difference, symmetric_difference)

{1, 2, 3, 4, 5, 6} {3, 4} {1, 2} {1, 2, 5, 6}

In [17]:
#issubset(), issuperset(), isdisjoint()
s1 = {1,2,3,4,5,6}
s2 = {3,4,5,6}
print(s1.issubset(s2))
print(s2.issubset(s1))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

False
True
True
False

## sample programs
1. Write a Python program to print "Hello Python"?
2. Write a Python program to do arithmetical operations addition and division.?
3. Write a Python program to find the area of a triangle?
4. Write a Python program to swap two variables?

In [20]:
# check if number is present in list return True else false
l = [1,2,3,4]
n = 30
# membership operator
print(n in l)

False

In [21]:
# check if number is present in list return True else add element 
# to list and return list
l = [1,2,3,4]
n = 30
# membership operator
val = n in l
if val:
    print("TRUE")
else:
    l.append(n)
    print(l)

[1, 2, 3, 4, 30]

In [ ]:
# check if number is present in list return True else add element at 
#1st position to list and return list