In [1]:
## string concatiantion iusing '+'
s1 = 'srinu'
s2 = 'babu'
print(s1 + s2)

srinubabu

In [2]:
## string concatiantion iusing '+'
s1 = 'srinu'
s2 = 'babu'
print(s1 + " " + s2)

srinu babu

In [ ]:
# multiple strings concatination with space
s1 + " " + s2 + " " + s3

In [3]:
s = '       '
print(s)

In [5]:
# String repete using '*'
s = 'Codegnan '
print(s * 3)

Codegnan Codegnan Codegnan

## case conversions
- lower() - converts the string into lower case
- upper() - converts the string into upper case
- swapcase() - upper to lower and lower to upper 
- title() - converts the first letter of every word in the string into upper case
- capitalize() - first character of every string into upper case

In [6]:
string = "I am from IndiA"
print(string.lower())
print(string.upper())
print(string.swapcase())
print(string.title())
print(string.capitalize())

i am from india
I AM FROM INDIA
i AM FROM iNDIa
I Am From India
I am from india

## Remove White space
- strip() -  it removers the leading and lagging white space
- lstrip() - it removes the leading white space
- rstrip() - it removest the lagging white space

In [7]:
s = '     abc     '
print(s)
print(s.strip())
print(s.lstrip())
print(s.rstrip())

     abc
abc
abc
     abc

In [8]:
s = '@@@@ab@c@@@@'
print(s.strip('@'))

ab@c

- find(sub_string) - it returns the first occurance position in the string otherwise -1
- index(sub_string) - it returns the lower or first occurance position in the string otherwise riase `ValueError`
- replace(old , new) - it replaces the all occurance of old_string with new_string

In [9]:
s = 'I am a Python Programmer'
print(s.find('a'))
print(s.find('K'))
print(s.index('a'))
print(s.index('K'))

2
-1
2

ValueError: substring not found

In [11]:
s = 'I am a Python Programmer'
print(s.find('Python'))

7

In [15]:
# replace(old, new)
s = 'I am a Python Programmer'
print(s.replace('a', 'A'))
print(s.replace('a', '@A'))
print(s.replace('Python', 'Java'))

I Am A Python ProgrAmmer
I @Am @A Python Progr@Ammer
I am a Java Programmer

## split()
- Syntax- split(delimiter=optional) <br>
- it divides the string into list of substrings as per the delimiter

In [16]:
s = 'I am a Python Programmer'
print(s.split())

['I', 'am', 'a', 'Python', 'Programmer']

In [17]:
s = 'I am a Python Programmer'
print(s.split('a'))

['I ', 'm ', ' Python Progr', 'mmer']

In [18]:
s = 'I am a Python Programmer'
print(s.split('K'))

['I am a Python Programmer']

## join()
- syntax - `'sep'.join(iterable)`
- it joins the iterable values with swperator

In [20]:
lst = ['I', 'am', 'a', 'Python', 'Programmer']
print("".join(lst))
print(" ".join(lst))
print("_".join(lst))

IamaPythonProgrammer
I am a Python Programmer
I_am_a_Python_Programmer

## checking
- isalpha()- it checks the entire string contain alphabets or not
- isalnum()- it checks the string contains only alphabets and numbers
- isdigit()- it checks the entire string contain digits or not

In [28]:
s1 = 'abcd'
s2 = 'abcd1234'
s3 = '1234'
s4 = 'abcd@'
print(s1.isalpha(), s1.isalnum(),s1.isdigit())
print(s2.isalpha(),s2.isalnum(), s2.isdigit())
print(s3.isalpha(), s3.isalnum(), s3.isdigit())
print(s4.isalnum())

True True False
False True False
False True True
False

## String Comparision
- string comparision in lexicographical

In [29]:
s1 = 'abcd'
s2 = 'abde'
print(s1 > s2)
print(s1 < s2)

False
True