## Tuple
- Tuple is ordered collection of different data type elements
- Tuple is define with `()`
- Tuple is **Immutable**
- Tuple is Hetrogeneuous Data type
- Tuple is index based and Sliceable
- Tuple allows the Duplicate values

In [1]:
# example 
t = (1,2,'a', 'Codegnan', 5.5,2, 1, [1,23,45],10)

In [3]:
# initilize empty tuple
t1 = ()
t4 = tuple()
# tuple with mulipule values 
t2 = (1,2,'a',4.5)
# single value tuple 
t3 = (34,)
print(type(t1), type(t2), type(t3))

<class 'tuple'> <class 'tuple'> <class 'tuple'>

In [5]:
## indexing and sliceable
t = (1,2,'a', 'Codegnan', 5.5,2, 1, [1,23,45],10)
print(t[4])
print(t[-4])
print(t[-4:-1])
print(t[-3:2:1])
print(t[-3:2:-1])
print(t[5:100:1])

5.5
2
(2, 1, [1, 23, 45])
()
(1, 2, 5.5, 'Codegnan')
(2, 1, [1, 23, 45], 10)

In [8]:
### tuple reading from user 
t = tuple(map(int, input().split()))
print(t)

 2

(2,)

In [11]:
# tuple concatination using '+'
t1 = (1,2,'hi')
t2 = (3,4,'bye')
t3 = t1 + t2
print(t3)

(1, 2, 'hi', 3, 4, 'bye')

In [12]:
# tuple repeate using '*'
t1 = (1,2,'hi')
print(t1 * 4)

(1, 2, 'hi', 1, 2, 'hi', 1, 2, 'hi', 1, 2, 'hi')

## Tuple Methods
- index(value) - Returns index position of value if value is present in the tuple otherwise **ValueError**
- count(value) - Return totall occurence of a value in the tuple

In [13]:
## count(value), index(value)
t = (1,2,'a', 'Codegnan', 5.5,2, 1, [1,23,45],10)
count_1 = t.count(1)
print("Count of 1 ele:", count_1)
ind = t.index([1,23,45])
print("Index of [1,23,45] is:", ind)

Count of 1 ele: 2
Index of [1,23,45] is: 7

In [15]:
## count(value), index(value)
t = (1,2,'a', 'Codegnan', 5.5,2, 1, [1,23,45],10)
count = t.count([1,23,45])
print("Count of [1,23,45] ele:", count)

Count of [1,23,45] ele: 1

In [16]:
# Build in functions
# min(), max(), sum(), len()
t = (1,2,20,50,30,60)
min_val = min(t)
max_val = max(t)
sum_tuple = sum(t)
length = len(t)
print("Min value in tuple:", min_val)
print("Max value in tuple:", max_val)
print("sum of tuple:", sum_tuple)
print("length of tuple:", length)

Min value in tuple: 1
Max value in tuple: 60
sum of tuple: 163
length of tuple: 6

In [18]:
t = (1,2,20,50,30,60)
t1 = sorted(t)
print(t1)

[1, 2, 20, 30, 50, 60]

In [20]:
## membership operators checking
t = (1,2,20,50,30,60)
print(2 in t)
print(255 not in t)

True
True

In [21]:
# list to tuple type conversion
l = [1,2,3]
t = tuple(l)
print(t)

(1, 2, 3)

In [22]:
# tuple to variable value assign 
t = (1,2,3)
a, b, c = t
print(a,b,c)

1 2 3

In [24]:
t = (1,2,3,4,5,6)
a , *b, c = t
print(a, b, c)
print(type(a), type(b), type(c))

1 [2, 3, 4, 5] 6
<class 'int'> <class 'list'> <class 'int'>

In [25]:
t = (1,2,3,4,5,6)
print(*t)

1 2 3 4 5 6