## Conversion methods
- Integer conversion -`int()`
- Float conversion - `float()`
- String conversion - `str()`
- List conversion - `list()`
- Tuple conversion - `tuple()`
- Dictionary conversion - `dict()`
- Set converstion - `set()`

In [1]:
# integert to float , and string conversion 
num = 24
print(float(num))
print(str(num))

24.0
24

In [2]:
# integert to float , and string conversion 
num = 24
float_num = float(num)
print(type(float_num))
print(float_num)

<class 'float'>
24.0

In [4]:
# Float to integet and string conversion
num = 24.0
print(int(num))
print(str(num))

24
24.0

In [6]:
# string to integet, list, tuple , set
s1 = '123'
s2 = 'abc123ab'
print(int(s1))
print(list(s2))
print(tuple(s2))
print(set(s2))

123
['a', 'b', 'c', '1', '2', '3', 'a', 'b']
('a', 'b', 'c', '1', '2', '3', 'a', 'b')
{'b', '2', '1', '3', 'a', 'c'}

In [7]:
# list to string, set, tuple
lst = [1,2,'a', 'Codegnan']
print(str(lst))
print(set(lst))
print(tuple(lst))

[1, 2, 'a', 'Codegnan']
{1, 2, 'a', 'Codegnan'}
(1, 2, 'a', 'Codegnan')

In [10]:
lst = [1,2,'a', 'Codegnan']
print(dict(lst))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [11]:
## list of tuples to dictionary
l = [('a',1), ('b',2),('c',3)]
print(dict(l))

{'a': 1, 'b': 2, 'c': 3}

In [12]:
# set to string, list, tuple
s = {1,2,3,'a','Codegnan'}
print(list(s))
print(tuple(s))

[1, 2, 3, 'a', 'Codegnan']
(1, 2, 3, 'a', 'Codegnan')

In [13]:
# tuple to list, set 
t = (1,2,3,'hi')
print(list(t))
print(set(t))

[1, 2, 3, 'hi']
{1, 2, 3, 'hi'}

## problem solving Game
1. Write a Python program to convert kilometers to miles?
2. Write a Python program to convert Celsius to Fahrenheit?
3. Write a Python program to display calendar?
4. Write a Python program to solve quadratic equation?
5. Write a Python program to swap two variables without temp variable?

In [14]:
# Write a Python program to convert kilometers to miles?
km = int(input())
miles = km / 1.609
print(miles)

 1

0.6215040397762586

In [23]:
# Write a Python program to convert Celsius to Fahrenheit?
celsius = int(input())
fahrenheit = celsius * 9/5 + 32
print(str(fahrenheit)  + ' F')

 36

96.8 F

In [20]:
# Write a Python program to convert Fahrenheit to Celsius?
fahrenheit = float(input())
Celsius = (fahrenheit-32) * 5/9 
print(Celsius)

 98

36.666666666666664

In [28]:
# Write a Python program to solve quadratic equation?
a,b, c = map(int, input().split())
numarator = ((b**2) - (4*a*c))**0.5
denomi = 2*a
root1 = (-b + numarator)/(denomi)
root2 = (-b - numarator)/(denomi)
print(root1, root2)

 3 -5 2

1.0 0.6666666666666666

In [40]:
s = '1x^2 + 4x + 12'
l = s.split('+')
print(str(l[0])[:-4])
a, b, c = str(l[0])[:-4], str(l[1])[:-2], l[2]
print(a,b,c)

1
1  4  12

In [45]:
import calendar
#print(calendar.calendar(int(input())))
print(calendar.month(2025,7))

     July 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

1. Write a Python Program to Check if a Number is Positive, Negative or Zero?
2. Write a Python Program to Check if a Number is Odd or Even?
3. Write a Python Program to Check Leap Year?
4. Write a Python Program to Check Prime Number?
5. Write a Python Program to Print all Prime Numbers in an Interval of 1-10000?